# Root files (like README, LICENSE)

README.md @Obsaabdu

# All files

* @Obsaabdbu

# Web code

/shopally-web/ @ABENEZER-SELESHI

# Backend code

/shopally-backend/ @segnig

# Mobile code

/shopallymobile/ @robsen123-fexil
